<a href="https://colab.research.google.com/github/CanniggiaGoodluck/Data-Science-Tools/blob/main/Data_Science_Tools_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java 
6. C++

__Objective__
* List Popular Languages used by Data Scientist for Data Science 
* List Common Libraries used by Data Scientist for  Data Science
* List Data Science Tools
* Perform Arithmetic Expressions in Python

Some of the commonly used Libraries used by Data Scientist include:
1. Pandas
2. NumPy
3. SciPy
4. Kera
5. SciKit-Learn
6. PyTorch
7. Tensorflow

| Data Science Tools |
| ------ |
| JupyterLab (Jupyter Notebook) |
| Apache Zeppeling (Zeppeling Notebook) |
| Spyder |

### Below are few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers.

In [ ]:
(3*4)+5

17

This will convert 200 mintues to hours by dividing by 60.

In [ ]:
200/60

3.3333333333333335

## Author
Canniggia Goodluck